html,
body {
  margin: 0;
  font-family: "Righteous", sans-serif;
}

.main_container {
  min-height: 100vh;
  /* background-color: red; */
  display: flex;
}

.left_column {
  width: 25%;
}

.main_content {
  width: 50%;
  display: grid;
  grid-template-rows: 0.2fr 1fr 1fr;
}

.header_container {
  padding: 20px;
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title_star_container {
  display: flex;
  font-size: large;
}

.star_container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 10px;
}

.title_container h2 {
  margin: 0;
}

.below_header_details {
  display: flex;
  align-items: center;
  gap: 8px;

  margin: 6px 0 0;
  padding: 0;

  list-style: none;
  color: #777;
  font-size: 0.9rem;
}

.top_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: stretch;
}

.image_container {
  display: block;
  height: 100%;
  width: 100%;
}

.poster_size_card_details {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trailer_container {
  width: 100%;
  height: 100%;
}

.trailer_container iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}

.middle_container {
  width: 100%;
  min-width: 0;
  padding: 20px;
}

.actors {
  /* height: 100%; */
  display: flex;
  /* justify-content:flex-start; */
  align-items: center;
}

.bottom_information {
  display: flex;
  align-items: center;
  gap: 8px;

  margin: 6px 0 0;
  padding: 0;

  list-style: none;
}

.right_column {
  width: 25%;
}

@media (max-width: 768px) {
  .left_column {
    width: 0%;
  }

  .main_content {
    width: 100%;
  }

  .right_column {
    width: 0%;
  }

  .actors {
    height: fit-content;
  }

  .top_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .middle_container {
    height: min-content;
  }

  .title_container h2 {
    display: flex;
    font-size: large;
  }

  .title_star_container img{
    width: 15px;
    height: 15px;
  }

  .title_star_container{
    align-items: center;
  }
}
